/* variables css */
:root {
    --header-height: 3rem;
    --font-semi:600
}
/* cores */
:root {
    --first-color: #4070f4;
    --second-color: #0e2331
}
/* fonte e tipografia */
:root {
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}

@media scrren and (min-width: 768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }   
}
/* margins */
:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2.0rem;
    --mb-5: 2.5rem;
    --mb-6: 3.0rem;
}

/* z-index /*


